.digits {
  /*ниже делаем секцию с таблицей и заголовками флекс-контейнером, добавляем ему нижний отступ,
  центрируем элементы вдоль поперечной оси*/
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   margin-bottom: 100px;
 }
