.section-title {
  width: 60%;
  /*ниже добавляем отступ под заголовком*/
  margin: 0 0 20px 0;
  /*ниже задаём свойства текста*/
  text-align: center;
  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
}
