.footer {
  background-color: #1F1F1F;
  /*ниже устанавливаем высоту блока: учитывая отступы, она должна быть не меньше 350px*/
  min-height: 250px;
  padding: 60px 0 40px 0;
   /*ниже делаем блок флекс-контейнером и центрируем элемент, содержащийся в нём*/
  display: flex;
  justify-content: center;
}
