.header__title {
  width: 730px;
  /*ниже позиционируем элемент*/
  margin: 0 0 0 64px;
  align-self: center;
  z-index: 2;
  /*ниже задаём свойства текста*/
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  text-align: left;
}
